{
    "openapi": "3.0.0",
    "info": {
        "title": "LUXIMA API Documentation",
        "description": "This is the API documentation for the Luxima project. It covers all endpoints related to authentication and other functionalities.",
        "contact": {
            "email": "admin@luxima.id"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.luxima.id/api",
            "description": "LUXIMA API Server"
        }
    ],
    "paths": {
        "/auth/register": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Register a new user",
                "operationId": "3a8b52fca2b4ff82bb3c3e2384ba864e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "johndoe@luxima.id"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "12345678"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "12345678"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "User registered successfully"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            }
        },
        "/auth/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Login user",
                "operationId": "4a0653990bae153573fca45c02b86632",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "johndoe@luxima.id"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "12345678"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "User logged in successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "user": {
                                            "$ref": "#/components/schemas/User"
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "eyJ0eXAiOiJKV1Q..."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid credentials"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Logout user",
                "operationId": "615f1ac2443597e75609845bf0366ab4",
                "responses": {
                    "200": {
                        "description": "User logged out successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Successfully logged out"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/profile": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "summary": "Get user profile",
                "description": "Retrieve user profile information.",
                "operationId": "getProfile",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "John Doe"
                                        },
                                        "email": {
                                            "type": "string",
                                            "example": "johndoe@luxima.id"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2024-09-03T12:34:56Z"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2024-09-03T12:34:56Z"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/auth/refresh-token": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "Refresh authentication token",
                "operationId": "c1f678d65d7f2913820cf94546267820",
                "responses": {
                    "200": {
                        "description": "Token refreshed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "token": {
                                            "type": "string",
                                            "example": "eyJ0eXAiOiJKV1Q..."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/blog": {
            "get": {
                "tags": [
                    "Blog"
                ],
                "summary": "Get all Blog",
                "description": "Retrieve a list of all Blog.",
                "operationId": "indexBlog",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Blog"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/list-blog": {
            "get": {
                "tags": [
                    "Blog"
                ],
                "summary": "Get Blog for authenticated user",
                "description": "Retrieve all blog posts for the currently authenticated user.",
                "operationId": "listBlogForAuthUser",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Blog"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/blog-details/{blog_id}": {
            "get": {
                "tags": [
                    "Blog"
                ],
                "summary": "Get a single blog for authenticated user",
                "description": "Retrieve the details of a specific blog post for the currently authenticated user.",
                "operationId": "getSingleBlogForAuthUser",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the blog",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Blog"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Blog not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/blog/{slug}": {
            "get": {
                "tags": [
                    "Blog"
                ],
                "summary": "Get blog by slug",
                "description": "Retrieve the details of a specific blog post by its slug.",
                "operationId": "getBlogBySlug",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug of the blog",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Blog"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Blog not found"
                    }
                }
            }
        },
        "/Blog/{id}": {
            "get": {
                "tags": [
                    "Blog"
                ],
                "summary": "Get a blog by ID",
                "description": "Retrieve the details of a specific blog post.",
                "operationId": "showBlog",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the blog",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Blog"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Blog not found"
                    }
                }
            }
        },
        "/Blog": {
            "post": {
                "tags": [
                    "Blog"
                ],
                "summary": "Create a new blog",
                "description": "Create a new blog post.",
                "operationId": "storeBlog",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BlogCreateRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Blog created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Blog"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    }
                }
            }
        },
        "/blog/{id}": {
            "put": {
                "tags": [
                    "Blog"
                ],
                "summary": "Update a blog",
                "description": "Update the details of a specific blog post.",
                "operationId": "updateBlog",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the blog",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BlogUpdateRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Blog updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Blog"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "Blog not found"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Blog"
                ],
                "summary": "Delete a blog",
                "description": "Delete a specific blog post.",
                "operationId": "destroyBlog",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the blog",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Blog deleted successfully"
                    },
                    "404": {
                        "description": "Blog not found"
                    }
                }
            }
        },
        "/vendors": {
            "get": {
                "tags": [
                    "Vendor"
                ],
                "summary": "Menampilkan semua data vendor",
                "operationId": "1d0aa57c9db3be1d9403f33a7c041af2",
                "responses": {
                    "200": {
                        "description": "Berhasil menampilkan daftar vendor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Vendor"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized, token tidak valid"
                    }
                },
                "security": [
                    {
                        "passport": []
                    }
                ]
            }
        },
        "/search": {
            "get": {
                "tags": [
                    "Vendor"
                ],
                "summary": "Pencarian vendor berdasarkan keyword, kategori, atau lokasi",
                "operationId": "bb50fd6bf54b7f73e6c0dcee3a58f54b",
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Kata kunci pencarian",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "description": "Slug kategori",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "location",
                        "in": "query",
                        "description": "Lokasi vendor",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Berhasil menampilkan hasil pencarian vendor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Vendor"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Parameter query tidak valid"
                    }
                },
                "security": [
                    {
                        "passport": []
                    }
                ]
            }
        },
        "/vendor/{slug}": {
            "get": {
                "tags": [
                    "Vendor"
                ],
                "summary": "Menampilkan detail vendor berdasarkan slug",
                "operationId": "3b0134ad8ea02ab1464466cac22c46bc",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug unik dari vendor",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Berhasil menampilkan detail vendor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Vendor"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Vendor tidak ditemukan"
                    }
                },
                "security": [
                    {
                        "passport": []
                    }
                ]
            }
        },
        "/{slug}": {
            "get": {
                "tags": [
                    "Vendor"
                ],
                "summary": "Menampilkan semua vendor berdasarkan kategori",
                "operationId": "9918563d18c6ed38945830c7f4755043",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug unik dari kategori",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Berhasil menampilkan daftar vendor berdasarkan kategori",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Vendor"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Kategori tidak ditemukan"
                    }
                },
                "security": [
                    {
                        "passport": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "User": {
                "title": "User",
                "description": "User model",
                "required": [
                    "id",
                    "name",
                    "email"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "example": "John Doe"
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "example": "johndoe@luxima.id"
                    },
                    "password": {
                        "type": "string",
                        "format": "password",
                        "example": "12345678"
                    },
                    "password_confirmation": {
                        "type": "string",
                        "format": "password",
                        "example": "12345678"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2024-09-03T12:34:56Z"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2024-09-03T12:34:56Z"
                    }
                },
                "type": "object"
            },
            "Blog": {
                "title": "Blog",
                "description": "Blog model",
                "required": [
                    "id",
                    "title",
                    "content",
                    "created_at",
                    "updated_at"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "title": {
                        "type": "string",
                        "example": "Blog Title"
                    },
                    "content": {
                        "type": "string",
                        "example": "Blog content here..."
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2024-09-03T12:34:56Z"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2024-09-03T12:34:56Z"
                    }
                },
                "type": "object"
            },
            "BlogCreateRequest": {
                "title": "Blog Create Request",
                "description": "Request body for creating a blog",
                "required": [
                    "title",
                    "content"
                ],
                "properties": {
                    "title": {
                        "type": "string",
                        "example": "Blog Title"
                    },
                    "content": {
                        "type": "string",
                        "example": "Blog content here..."
                    }
                },
                "type": "object"
            },
            "BlogUpdateRequest": {
                "title": "Blog Update Request",
                "description": "Request body for updating a blog",
                "required": [
                    "title",
                    "content"
                ],
                "properties": {
                    "title": {
                        "type": "string",
                        "example": "Updated Blog Title"
                    },
                    "content": {
                        "type": "string",
                        "example": "Updated blog content here..."
                    }
                },
                "type": "object"
            },
            "Vendor": {
                "title": "Vendor",
                "required": [
                    "id",
                    "name",
                    "slug",
                    "location"
                ],
                "properties": {
                    "id": {
                        "description": "ID unik vendor",
                        "type": "integer"
                    },
                    "name": {
                        "description": "Nama vendor",
                        "type": "string"
                    },
                    "slug": {
                        "description": "Slug unik vendor",
                        "type": "string"
                    },
                    "description": {
                        "description": "Deskripsi vendor",
                        "type": "string"
                    },
                    "location": {
                        "description": "Lokasi vendor",
                        "type": "string"
                    },
                    "category": {
                        "description": "Kategori vendor",
                        "type": "string"
                    },
                    "created_at": {
                        "description": "Waktu pembuatan data vendor",
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "description": "Waktu update data vendor",
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            },
            "passport": {
                "type": "oauth2",
                "description": "Gunakan token OAuth2 untuk mengakses endpoint",
                "flows": {
                    "password": {
                        "tokenUrl": "/oauth/token",
                        "scopes": {}
                    }
                }
            }
        }
    },
    "tags": [
        {
            "name": "Blog",
            "description": "API Endpoints for Blog"
        },
        {
            "name": "Auth",
            "description": "Auth"
        },
        {
            "name": "Profile",
            "description": "Profile"
        },
        {
            "name": "Vendor",
            "description": "Vendor"
        }
    ]
}